<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/category.css">
    <title>LIL TALES</title>
</head>
<body>
         <!--------------------- TOP-NAV ---------------------->
         
         <header>
            <nav class="nav">
                <h1>LIL<span>TALES</span></h1>
                <i class="material-icons menu">menu</i>
                <ul class="nav-list ">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/home/create">Create</a></li>
                    <li><a href="/home/dashboard">Dashboard</a></li>
                    <form action="/logout?_method=DELETE" method="POST">
                        <li><button class="btn" type="submit">Log Out</button></li>
                        </form>
                </ul>
            </nav>
    </header>
        
          <!--------------------- CARDS ---------------------->

        <div class="container">
            <h3 class="line heading">Adventure Books</h3>
            <div class="cards">
                <% adventure.forEach(adventure => { %>
                <div class="card">
                    <a href="/home/<%=adventure.id %>"><img src="<%= adventure.coverImagePath %>" alt="photo" class="image-in"></a>
                </div>
                <% }) %>
            </div>
            </div>
            <footer>
                <div class="container">
                    <div class="f-content">
                        <div class="f-card f-first">
                            <h1>LIL<span>TALES</span></h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ratione quibusdam voluptatibus perspiciatis assumenda earum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ratione quibusdam voluptatibus perspiciatis assumenda earum.</p>
                        </div>
                        <div class="f-card"> 
                            <h1>Address</h1>
                            <p>Bouvet Island <br>
                                Jeanetteside <br>
                                53 Brannon Falls Suite 406</p>
                        </div>
                        <div class="f-card">
                            <h1>Work inquiries</h1>
                            <p>860-278-8915 <br>
                                contact@liltales.com</p>
                        </div>
                    </div>
                    <p class="fbottom">Copyright ©2020 All rights reserved </p>
                </div>
            </footer>        
</body>
<script>
    const burger = document.querySelector(".nav i");
const side = document.querySelector(".nav-list");

burger.addEventListener("click", (e) => {
  side.classList.toggle("open");
  e.preventDefault();
});
</script>
</html>